@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Urbanist';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  display: block;
  width: 600px;
  margin: 60px auto;
  padding: 70px 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(232, 232, 232, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(232, 232, 232, 1);
  box-shadow: 10px 10px 5px 0px rgba(232, 232, 232, 1);
}

.taskWrapper {
  margin: 20px;
}

input {
  width: 400px;
  padding: 6px 0px;
  border: 1px solid #999;
  border-radius: 5px;
  text-indent: 12px;
}

label {
  margin-top: 10px;
  font-weight: 700;
}

.btn-vanilla {
  padding: 10px 80px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid;
  background-color: blueviolet;
  color: #fff;
  border-radius: 99px;
}

select {
  padding: 10px;
  width: 400px;
  border: 1px solid #999;
  border-radius: 5px;
}

.btn-add-task {
  padding: 10px 40px;
  margin: 20px 10px;
  border: 1px solid;
  background-color: blueviolet;
  color: #fff;
  border-radius: 99px;
}

.btn-close-task {
  padding: 10px 40px;
  margin: 20px 10px;
  border: 1px solid;
  background-color: black;
  color: #fff;
  border-radius: 99px;
}



.allTask-list {
  justify-content: space-between;
  flex-direction: row;
  margin: 40px 40px;
  display: flex;
  border-bottom: 1px solid #fef;
}

.allTask-title-list {
  flex-wrap: wrap;
  font-size: 15px;
  max-width: 150px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 600;

}

.allTask-priority-list {
  font-size: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-weight: 400;

}

.allTask-delete-list {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.noTask {
  font-size: 16px;
}

.countTask{
font-weight: 900;
}

.welcomeHeader {
  font-weight: 900;
  letter-spacing: 0.4rem;
  font-size: 20px;
  margin: 20px 0px;
  text-transform: uppercase;

}



@media only screen and (max-width: 500px) {
  .login-container {
    display: block;
    width: 450px;
    margin: 60px auto;
    padding: 70px 0px;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 10px 10px 5px 0px rgba(232, 232, 232, 1);
  }

  input {
    width: 300px;
    padding: 6px 0px;
    border: 1px solid #999;
    border-radius: 5px;
    text-indent: 12px;
  }

  select {
    padding: 10px;
    width: 300px;
    border: 1px solid #999;
    border-radius: 5px;
  }
}
